<button class="go-back-button" (click)="goToBackPage()">
    Back
</button>

<div class="primary-container" *ngIf="!noItems">
    <button class="go-to-cart-button" (click)="goToCart()">
        Cart ({{totalItemsCountInCart}})
    </button>

    <section class="single-item-content" *ngFor="
    let itemDetails of listOfItems
      | filterItemDetails: selectedItemId">
        <div class="image-content">
            <img [src]="transform(itemDetails.imageUrl)" alt="Item image" />
        </div>

        <p>Unique Id: {{ itemDetails.id }}</p>
        <p>Name: {{ itemDetails.name }}</p>
        <p>Description:{{ itemDetails.description }}</p>
        <p>Price: INR {{ itemDetails.price }}</p>

        <button class="add-to-cart-button"
            (click)="sendItemToCart([itemDetails.id, itemDetails.name, itemDetails.price, 1])">Add to cart>></button>
    </section>
</div>

<ng-container *ngIf="noItems">
    <p>
        No such item exists.
    </p>
</ng-container>