.primary-container {
    max-width: 900px;
    margin: auto;
    text-align: center;
  }
  
  .image-content {
    padding-top: 10px;
    width: 300px;
  }
  
  .image-content img {
    height: auto;
    width: 100%;
  }
  
  .single-item-content {
    font: normal bold 18px "Roboto", sans-serif;
    background-color: #c6ebf7;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
  
  .show-more-details {
    text-decoration: none;
    color: #07b9f5;
  }
  
  .show-more-details:hover {
    color: #e90000;
  }

  .go-to-back-page-button {
    background-color: #ffffff;
    margin-bottom: 20px;
    font: normal bold 18px Roboto, sans-serif;
    color: #0e12fd;
  }

  .go-to-back-page-button:hover {
    background-color: #0e12fd;
    color: #000000;
    cursor: pointer;
  }

  .add-new-item-button {
    background-color: #ffffff;
    font: normal normal 18px Roboto,sans-serif;
    margin-left: 25px;
  }

  .add-new-item-button:hover {
    cursor: pointer;
    background-color: #9fa4ec;
  }

  .name-show-details button {
    background-color: #ffffff;
    font: normal normal 18px Roboto,sans-serif;
    margin-left: 25px;
  }

  .name-show-details button:hover {
    cursor: pointer;
    background-color: #9fa4ec;
  }