<div class="primary-container" *ngIf="!noItems">
    <button class="go-to-back-page-button" (click)="goToBackPage()">
        Back
    </button>

    <ng-container *ngFor="let item of (listOfItems | filterItems: filterByItemCategory)">
        <section class="single-item-content">
            <div class="image-content">
                <img [src]="item.imageUrl" alt="Item image" />
            </div>
            <div class="name-show-details">
                <p class="item-name">Name: {{ item.name }}</p>
                <a class="show-more-details" [routerLink]="'./' + item.id">details >></a>
            </div>
        </section>
    </ng-container>
</div>

<ng-container *ngIf="noItems">
    <p>
        No items exist.
    </p>
</ng-container>