<div class="primary-container">
    <p class="website-title">
        E-MART
    </p>

    <p class="user-greeting">
        Hello {{userName}}.
    </p>

    <a (click)="onClickSignOutLink()" class="signout-link">Sign Out>></a>

    <button class="go-to-cart-button" (click)="goToCart()">
        Cart ({{totalItemsCountInCart}})
    </button>

    <app-search-bar (emitItemName)="storeItemName($event)"></app-search-bar>

    <app-list-of-items [filterByItemName]="searchItemName"></app-list-of-items>
</div>