<h1 class="registration-form-title">
    USER REGISTRATION FORM
</h1>

<button class="signIn-button" (click)="onClickSignInButton()">
    Sign In
</button>

<form [formGroup]="userRegisterForm" (ngSubmit)="onFormSubmission()">

    <app-text-input-field label="User Name*" [control]="userRegisterForm.get('userName')"></app-text-input-field>

    <app-number-input-field label="Mobile*" [control]="userRegisterForm.get('mobile')"></app-number-input-field>

    <app-email-input-field label="Email*" [control]="userRegisterForm.get('email')"></app-email-input-field>

    <app-password-input-field label="Password*" [control]="userRegisterForm.get('password')"></app-password-input-field>

    <app-password-input-field label="Confirm Password*" [control]="userRegisterForm.get('confirmPassword')">
    </app-password-input-field>

    <p class="password-confirm-error" *ngIf="userRegisterForm.errors &&
    userRegisterForm.controls.password.dirty &&
    userRegisterForm.controls.confirmPassword.touched">
        Password and confirmation password need to match
    </p>

    <app-date-input-field label="BirthDate*" [control]="userRegisterForm.get('birthdate')"></app-date-input-field>

    <label class="label-for-address">Address*</label>
    <ng-container formArrayName="addresses">
        <ng-container *ngFor="let _ of addresses.controls;let i=index;">

            <ng-container [formGroupName]="i">
                <section class="street-city">
                    <section class="street-label-field">
                        <label>Street</label>
                        <input type="text" formControlName="street">
                    </section>
                    
                    <section class="city-label-field">
                        <label>City</label>
                        <input type="text" formControlName="city">
                    </section>

                    <section class="add-remove-street-city-buttons">
                        <button type="button" (click)="addAddress()" class="add-address-button">
                            +
                        </button>
    
                        <button [disabled]="!i" type="button" (click)="removeAddress(i)" class="remove-address-button">
                            -
                        </button>
                    </section>
                </section>
            </ng-container>

            <ng-container *ngIf="this.addresses.controls[i]['controls']['street'].errors">
                <p *ngIf="this.addresses.controls[i]['controls']['street'].errors.required && 
                this.addresses.controls[i]['controls']['street'].touched" class="street-name-error">
                    Value is required for street.
                </p>
                <p *ngIf="this.addresses.controls[i]['controls']['street'].errors.pattern && 
                this.addresses.controls[i]['controls']['street'].touched && 
                this.addresses.controls[i]['controls']['street'].dirty" class="street-name-error">
                    Dont use special characters for street name.
                </p>
            </ng-container>

            <ng-container *ngIf="this.addresses.controls[i]['controls']['city'].errors">
                <p *ngIf="this.addresses.controls[i]['controls']['city'].errors.required && 
                this.addresses.controls[i]['controls']['city'].touched" class="city-name-error">
                    Value is required for city.
                </p>
                <p *ngIf="this.addresses.controls[i]['controls']['city'].errors.pattern && 
                this.addresses.controls[i]['controls']['city'].touched && 
                this.addresses.controls[i]['controls']['city'].dirty" class="city-name-error">
                    Dont use special characters for city name.
                </p>
            </ng-container>

        </ng-container>
    </ng-container>


    <button type="submit" [disabled]="userRegisterForm.invalid" class="register-button">
        Register
    </button>

    <ng-container *ngIf="userExist">
        <p class="user-exist-error-message">The username entered is not available.</p>
    </ng-container>

    <button (click)="onClickingResetButton()" type="button" class="reset-button">
        Reset
    </button>

</form>

<!-- The below lines are for debug purposes -->

<!-- <hr>
<div>Form Controls: {{userRegisterForm.value | json}}</div>

<div>Form is valid: {{userRegisterForm.valid}}</div>

<div>Errors around form:{{userRegisterForm.errors | json}}</div> -->