<h1 class="registration-form-title">
    USER REGISTRATION FORM
</h1>

<button class="signIn-button" (click)="onClickSignInButton()">
    Sign In
</button>

<form [formGroup]="userRegisterForm" (ngSubmit)="onFormSubmission()">

    <app-text-input-field label="User Name*" [control]="userRegisterForm.get('userName')"></app-text-input-field>

    <app-number-input-field label="Mobile*" [control]="userRegisterForm.get('mobile')"></app-number-input-field>

    <app-email-input-field label="Email*" [control]="userRegisterForm.get('email')"></app-email-input-field>

    <app-password-input-field label="Password*" [control]="userRegisterForm.get('password')"></app-password-input-field>

    <app-password-input-field label="Confirm Password*" [control]="userRegisterForm.get('confirmPassword')">
    </app-password-input-field>

    <p class="password-confirm-error" *ngIf="userRegisterForm.errors &&
    userRegisterForm.controls.password.dirty &&
    userRegisterForm.controls.confirmPassword.touched">
        Password and confirmation password need to match
    </p>

    <app-date-input-field label="BirthDate*" [control]="userRegisterForm.get('birthdate')"></app-date-input-field>

    <label class="label-for-address">Address*</label>
    <ng-container formArrayName="addresses">
        <ng-container *ngFor="let _ of addresses.controls;let i=index;">

            <ng-container [formGroupName]="i">
                <section class="street-city">
                    <section class="street-label-field">
                        <label>Street</label>
                        <input type="text" formControlName="street" [ngClass]="{'error-in-input': errorFieldStreetName(i)}">
                    </section>
                    
                    <section class="city-label-field">
                        <label>City</label>
                        <input type="text" formControlName="city" [ngClass]="{'error-in-input': errorFieldCityName(i)}">
                    </section>

                    <section class="add-remove-street-city-buttons">
                        <button type="button" (click)="addAddress()" class="add-address-button">
                            +
                        </button>
    
                        <button [disabled]="!i" type="button" (click)="removeAddress(i)" class="remove-address-button">
                            -
                        </button>
                    </section>
                </section>
            </ng-container>

            <ng-container *ngIf="isErrorStreetName(i)">
                <p *ngIf="showRequiredErrorStreet(i)" class="street-name-error">
                    Value is required for street.
                </p>
                <p *ngIf="showPatternErrorStreet(i)" class="street-name-error">
                    Dont use special characters for street name.
                </p>
            </ng-container>

            <ng-container *ngIf="isErrorCityName(i)">
                <p *ngIf="showRequiredErrorCity(i)" class="city-name-error">
                    Value is required for city.
                </p>
                <p *ngIf="showPatternErrorCity(i)" class="city-name-error">
                   Dont use special characters or numbers for city name.
                </p>
            </ng-container>

        </ng-container>
    </ng-container>

    <section class="role-section">
        <label>Sign Up as *: </label>
        <select formControlName="role">
            <option value="buyer">Buyer</option>
            <option value="seller">Seller</option>
        </select>
    </section>

    <button type="submit" [disabled]="userRegisterForm.invalid" class="register-button">
        Register
    </button>

    <ng-container *ngIf="userExist">
        <p class="user-exist-error-message">The username entered is not available.</p>
    </ng-container>

    <button (click)="onClickingResetButton()" type="button" class="reset-button">
        Reset
    </button>
</form>
